.form {
    margin-top: 20px;
    position: relative;
    display: grid;
    grid-template-columns: 700px;
    grid-template-rows: 80px;
}
.formInput {
    box-shadow: 0 0 15px rgb(219, 219, 219);
    border-top: none;
    border-left: 1px solid rgb(219, 219, 219);
    border-right: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
    font-size: 34px;
    font-weight: 300;
    padding-left: 75px;
    z-index: 0;
    outline: none;
}

.formInput:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.formInput:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.formInput::placeholder {
    color: rgb(232, 232, 232);
    font-style: italic;
    font-weight: 100;
}

.formArrow {
    position: absolute;
    left: 20px;
    top: 34px;
    z-index: 1;
}

.formArrowSVG {
    transform: rotate(90deg);
    color: #e8e8e8;
    transition: 1s;
}

.right {
    transform: rotate(0deg);
}

@media (max-width: 800px) {
    .form {
        grid-template-columns: 500px;
        grid-template-rows: 80px;
    }
}

@media (max-width: 400px) {
    .form {
        grid-template-columns: 350px;
        grid-template-rows: 80px;
    }
    .formInput {
        font-size: 24px;
    }
}
