.todoList {
    display: grid;
    grid-template-columns: 685px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.todoItem {
    display: grid;
    grid-template-columns: 50px 600px;
    grid-auto-rows: minmax(75px, auto);
    align-items: center;
    column-gap: 25px;

    border-top: none;
    border-left: 1px solid rgb(219, 219, 219);
    border-right: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
    background: #fff;
}

.todoItemText {
    word-wrap: break-word;
    font-weight: 600;
    font-size: 25px;
    color: rgb(52, 50, 50);
    transition: 0.7s;
}

.todoItemLabel {
    padding-left: 10px;
}

.todoItemCustomCheckbox {
    display: none;
}

.fake {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 50%;
    position: relative;
}

.fake::before {
    content: "";
    position: absolute;
    display: block;

    background-image: url("../../../public/assets/icons8-галочка.svg");
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    opacity: 0;
    transition: 0.5s;
}

.todoItemCustomCheckbox:checked + .fake::before {
    opacity: 1;
}

.done {
    text-decoration: line-through;
    color: rgb(232, 232, 232);
}

.item-enter {
    opacity: 0;
}
.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.item-exit {
    opacity: 1;
}
.item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

@media (max-width: 700px) {
    .todoList {
        grid-template-columns: 500px;
    }

    .todoItem {
        grid-template-columns: 50px 430px;
    }
}

@media (max-width: 400px) {
    .todoList {
        grid-template-columns: 368px;
    }

    .todoItem {
        grid-template-columns: 50px 290px;
    }
}
